h1{
  color: rgb(20, 20, 20);
  font-size: 8em;
  line-height: 1;
  margin-top: 0;
  margin-bottom: 0;
}

h3{
  color: rgb(20, 20, 20);
  font-size: 2.5em;
  line-height: 1;
  margin-top: 0;
  margin-bottom: 0;
}

p{
  font-size: 1.5em;
}

li{
  list-style-type: none;
  font-size: 1.5em;
}

.index {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

.horizontal-divider {
  border-top: 1px solid #000000;
  margin: 30px 0px
}

.vertical-divider {
  border-right: 1px solid black;
}

.header{
  margin: 0;
  padding: 25px;
}

.nav-bar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 15px;
}

.logo{
  text-decoration: none;
  color: black
}

.nav-bar-links{
  display: flex;
  gap: 25px;
}

.nav-bar-link{
  text-decoration: none;
  color: black
}

.call-to-action {
  display: flex;
  flex-direction: row;

}

.left-cta {
  max-width: 50%;
}

.member-card {
  background-color:grey;
  width:50%;
  height: auto;
  margin: 5%;
  border-radius: 25px;
  display: flex;
  flex-direction: row;
}

.member-headshot{
  height: 200px;
  border-radius: 25px;
}

.project-card {
  background-color:grey;
  width:50%;
  height: auto;
  margin: 5%;
  border-radius: 25px;
  display: flex;
  flex-direction: row;
}

.project-thumbnail{
  height: 200px;
  border-radius: 25px;
}

.project-images{
  display: flex;
  flex-direction: row;
}

.project-image{
  height: 50em;
}