body {
  font-family: Arial, Helvetica, sans-serif;
}

.member-card {
  background-color:grey;
  width:50%;
  height: auto;
  margin: 5%;
  border-radius: 25px;
  display: flex;
  flex-direction: row;
}

.member-headshot{
  height: 200px;
  border-radius: 25px;
}

.project-card {
  background-color:grey;
  width:50%;
  height: auto;
  margin: 5%;
  border-radius: 25px;
  display: flex;
  flex-direction: row;
}

.project-thumbnail{
  height: 200px;
  border-radius: 25px;
}